*.log
*.tlog
*.wLog
*.idb
*.pdb
*.ipch
*.ilk
*.recipe
*.res
*.enc
*.vscode
*.advixeproj
*.advixeexp
*.dflgadvixe
*.infoadvixe
*.DS_Store
*.db
*.db-shm
*.db-wal
*.opendb
*.DS_Store
*.pem

/bin/*
/build/*
/build_/*
/coverage/*
/install/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch


# Fortran module files
*.mod


# Executables
*.exe
*.out
*.app