*.log
*.tlog
*.wLog
*.idb
*.pdb
/bin/Build/
/bin/x64/
/docs/extra/
/samples/.vs/*
/engine/builds/mvsc/.vs/*
/engine/dependencies/*
!/engine/dependencies/*.7z

# Prerequisites 
*.c
*.c++ 

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/samples/00-system/01-async/builds/netbeans/build/
/samples/00-system/01-async/builds/netbeans/dist/
/samples/01-initialize/01-window/builds/netbeans/build/
/samples/01-initialize/01-window/builds/netbeans/dist/
/samples/01_initialize/03_scene/builds/netbeans/build/
/samples/01_initialize/03_scene/builds/netbeans/dist/
/engine/builds/netbeans/wolf.system/build/
/engine/builds/netbeans/wolf.system/dist/
/engine/builds/netbeans/wolf.vulkan/build/
/engine/builds/netbeans/wolf.vulkan/dist/
/engine/builds/netbeans/tests/vulkan.linux/build/
/engine/builds/netbeans/tests/vulkan.linux/dist/
/engine/builds/netbeans/wolf.content_pipeline/build/
/engine/builds/netbeans/wolf.media_core/build/
/samples/01_system/01_async/builds/netbeans/01_async/build/
/samples/01_system/01_async/builds/netbeans/01_async/dist/
