[attr]rust text eol=lf whitespace=tab-in-indent,trailing-space,tabwidth=4

#sources
* text=auto eol=lf
*.fixed linguist-language=rust
*.lock -diff -merge linguist-generated=false
*.mir linguist-language=rust
*.rs rust diff=rust
*.sh rust diff=bash
*.toml linguist-language=toml
*.c text
*.cc text
*.cxx text
*.cpp text
*.c++ text
*.hpp text
*.h text
*.h++ text
*.hh text
*.rs rust
