name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: windows-latest

    steps:
      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          version: '3.x'

      - name: Checkout code
      - uses: actions/checkout@v3

      - name: Build
        run: cargo build --verbose
        
      - name: Run tests
        run: cargo test --verbose
